<!DOCTYPE html>
<html lang="en">
{% load pwa %}
{% load translate %}
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% translate site.translation_key request.session.language %} | {% block title %}{% endblock %}</title>
    <meta name="author" content="Page Myanmar">
    <meta name="robots" content="index, follow">
    {% progressive_web_app_meta %}
    <script src="{% static 'dashboard/js/htmx.min.js' %}"></script>
    <meta name="csrf-token" content="{{ csrf_token }}">

    {% include 'dashboard/components/favicon.html' %}
    {% include 'dashboard/components/css.html' %}
</head>

<body
    class="{% if not request.user.is_authenticated %}account-page bg-white{% endif %}  {% if request.path == pos_url %}pos-page{% endif %}">

    <div class="main-wrapper {% if request.path == pos_url %}pos-five{% endif %}" hx-boost="true"
        hx-target="#main-body-wrapper" hx-select="#main-body-wrapper" hx-swap="innerHTML transition:true"
        hx-push-url="true">
        {% include 'dashboard/components/toast.html' %}
        {% if request.user.is_authenticated %}
        {% include 'dashboard/layouts/header.html' %}
        {% include 'dashboard/layouts/sidebar.html' %}

        <div id="main-body-wrapper">
            {% block body %}{% endblock %}
        </div>
        {% else %}
        <div hx-boost="false">
            {% block auth %}{% endblock %}
        </div>
        {% endif %}
    </div>

    {% include 'dashboard/components/modal.html' %}
    {% include 'dashboard/components/js.html' %}

    <script>
        document.body.addEventListener('htmx:afterSwap', function (event) {
            if (window.jQuery && jQuery(".select").length > 0) {
                jQuery(".select").select2({
                    minimumResultsForSearch: -1,
                    width: "100%",
                });
            }
            if (window.feather) {
                feather.replace();
            }
            document.querySelectorAll('.bulk-action-bar').forEach(bar => (bar.style.display = 'none'));
        });

        document.body.addEventListener('htmx:beforeRequest', function () {
            document.body.classList.add('htmx-loading');
        });
        document.body.addEventListener('htmx:afterRequest', function () {
            document.body.classList.remove('htmx-loading');
        });
    </script>
</body>

</html>