{% load static %}

<script>
    var STATIC_URL = "{% get_static_prefix %}";
</script>

<!-- jQuery (MUST LOAD FIRST) -->
<script src="{% static 'dashboard/js/jquery-3.7.1.min.js' %}"></script>

<!-- Bootstrap Core -->
<script src="{% static 'dashboard/js/bootstrap.bundle.min.js' %}"></script>

<!-- jQuery Plugins -->
<script src="{% static 'dashboard/js/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'dashboard/js/jquery.dataTables.min.js' %}"></script>

<!-- Datatable -->
<script src="{% static 'dashboard/js/dataTables.bootstrap5.min.js' %}"></script>

<script src="{% static 'dashboard/js/translation_auto_save.js' %}"></script>

<script src="{% static 'dashboard/js/flatpickr.js' %}"></script>
<script src="{% static 'dashboard/js/flatpickr.min.js' %}"></script>
<!-- Date & Time -->
<script src="{% static 'dashboard/js/moment.min.js' %}"></script>
<script src="{% static 'dashboard/js/daterangepicker.js' %}"></script>
<script src="{% static 'dashboard/js/bootstrap-datetimepicker.min.js' %}"></script>

<!-- Select2 -->
<script src="{% static 'dashboard/js/select2.min.js' %}"></script>

<!-- Owl Carousel -->
<script src="{% static 'dashboard/js/owl.carousel.min.js' %}"></script>

<!-- Icons -->
<script src="{% static 'dashboard/js/feather.min.js' %}"></script>

<!-- Input Plugins -->
<script src="{% static 'dashboard/js/intlTelInput.js' %}"></script>
<script class="iti-load-utils" async src="{% static 'dashboard/js/utils.js' %}"></script>
<script src="{% static 'dashboard/js/bootstrap-tagsinput.js' %}"></script>

<!-- Color Picker -->
<script src="{% static 'dashboard/js/pickr.es5.min.js' %}"></script>

<!-- Charts -->
<script src="{% static 'dashboard/js/apexcharts.min.js' %}"></script>
<script src="{% static 'dashboard/js/chart.min.js' %}"></script>
<script src="{% static 'dashboard/js/chart-data.js' %}"></script>
<script src="{% static 'dashboard/js/chart-data_1.js' %}"></script>

<!-- Quill Editor -->
<script src="{% static 'dashboard/js/quill.min.js' %}"></script>

<!-- Sticky Sidebar -->
<script src="{% static 'dashboard/js/ResizeSensor.js' %}"></script>
<script src="{% static 'dashboard/js/theia-sticky-sidebar.js' %}"></script>

<!-- Validation -->
<script src="{% static 'dashboard/js/validation.js' %}"></script>

<!-- Core Theme Scripts -->
<script src="{% static 'dashboard/js/theme-script.js' %}"></script>
<script src="{% static 'dashboard/js/theme-colorpicker.js' %}"></script>
<script src="{% static 'dashboard/js/script.js' %}"></script>

<!-- Other -->
<script src="{% static 'dashboard/js/email-decode.min.js' %}"></script>
<script src="{% static 'dashboard/js/calculator.js' %}"></script>
<script src="{% static 'dashboard/js/rocket-loader.min.js' %}"></script>

<!-- Map JS -->
<script src="{% static 'dashboard/js/jquery-jvectormap-2.0.5.min.js' %}"></script>
<script src="{% static 'dashboard/js/jquery-jvectormap-world-mill.js' %}"></script>
<script src="{% static 'dashboard/js/jquery-jvectormap-ru-mill.js' %}"></script>
<script src="{% static 'dashboard/js/jquery-jvectormap-us-aea.js' %}"></script>
<script src="{% static 'dashboard/js/jquery-jvectormap-uk_countries-mill.js' %}"></script>
<script src="{% static 'dashboard/js/jquery-jvectormap-in-mill.js' %}"></script>
<script src="{% static 'dashboard/js/jvectormap.js' %}"></script>