{% extends 'dashboard/components/base.html' %}
{% load translate %}
{% block title %}{% translate 'dashboard' request.session.language %}{% endblock %}

{% block body %}
{% load static %}
{% load humanize %}

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card dash-widget w-100">
                    <div class="card-body d-flex align-items-center">
                        <div class="dash-widgetimg">
                            <span><img src="{% static 'dashboard/images/dash1.svg' %}" alt="img"></span>
                        </div>
                        <div class="dash-widgetcontent">
                            <h5 class="mb-1">$<span class="counters" data-count="307144.00">$307,144.00</span>
                            </h5>
                            <p class="mb-0">Total Purchase Due</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card dash-widget dash1 w-100">
                    <div class="card-body d-flex align-items-center">
                        <div class="dash-widgetimg">
                            <span><img src="{% static 'dashboard/images/dash2.svg' %}" alt="img"></span>
                        </div>
                        <div class="dash-widgetcontent">
                            <h5 class="mb-1">$<span class="counters" data-count="4385.00">$4,385.00</span></h5>
                            <p class="mb-0">Total Sales Due</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card dash-widget dash2 w-100">
                    <div class="card-body d-flex align-items-center">
                        <div class="dash-widgetimg">
                            <span><img src="{% static 'dashboard/images/dash3.svg' %}" alt="img"></span>
                        </div>
                        <div class="dash-widgetcontent">
                            <h5 class="mb-1">$<span class="counters" data-count="385656.50">$385,656.50</span>
                            </h5>
                            <p class="mb-0">Total Sale Amount</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card dash-widget dash3 w-100">
                    <div class="card-body d-flex align-items-center">
                        <div class="dash-widgetimg">
                            <span><img src="{% static 'dashboard/images/dash4.svg' %}" alt="img"></span>
                        </div>
                        <div class="dash-widgetcontent">
                            <h5 class="mb-1">$<span class="counters" data-count="40000.00">$400.00</span></h5>
                            <p class="mb-0">Total Expense Amount</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="dash-count bg-primary">
                    <div class="dash-counts">
                        <h4 class="mb-1">100</h4>
                        <p class="text-white mb-0">Customers</p>
                    </div>
                    <div class="dash-imgs">
                        <i data-feather="user"></i>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="dash-count das1 bg-cyan-900">
                    <div class="dash-counts">
                        <h4 class="mb-1">110</h4>
                        <p class="text-white mb-0">Suppliers</p>
                    </div>
                    <div class="dash-imgs">
                        <i data-feather="user-check"></i>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="dash-count das2 bg-dark">
                    <div class="dash-counts">
                        <h4 class="mb-1">150</h4>
                        <p class="text-white mb-0">Purchase Invoice</p>
                    </div>
                    <div class="dash-imgs">
                        <img src="{% static 'dashboard/images/file-text-icon-01.svg' %}" class="img-fluid" alt="icon">
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="dash-count das3 bg-success">
                    <div class="dash-counts">
                        <h4 class="mb-1">170</h4>
                        <p class="text-white mb-0">Sales Invoice</p>
                    </div>
                    <div class="dash-imgs">
                        <i data-feather="file"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- Button trigger modal -->

        <div class="row">
            <div class="col-xl-7 col-sm-12 col-12 d-flex">
                <div class="card flex-fill">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="card-title mb-0">Purchase & Sales</h5>
                        <div class="graph-sets">
                            <ul class="mb-0">
                                <li>
                                    <span>Sales</span>
                                </li>
                                <li>
                                    <span>Purchase</span>
                                </li>
                            </ul>
                            <div class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle btn btn-sm btn-white"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    2025
                                </a>
                                <ul class="dropdown-menu p-3">
                                    <li>
                                        <a href="javascript:void(0);" class="dropdown-item">2025</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="dropdown-item">2022</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="dropdown-item">2021</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pb-0">
                        <div id="sales_charts"></div>
                    </div>
                </div>
            </div>

            <!-- Recent Products -->
            <div class="col-xl-5 col-sm-12 col-12 d-flex">
                <div class="card flex-fill default-cover mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h4 class="card-title mb-0">Recently Added Products</h4>
                        <a href="#" class="fs-13 fw-medium text-decoration-underline">View
                            All</a>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive dataview">
                            <table class="table dashboard-recent-products">
                                <thead class="thead-light">
                                    <tr>
                                        <th>#</th>
                                        <th>Products</th>
                                        <th>Stock</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <a href="{{product.featured_image.url}}" target="_blank" class="avatar avatar-lg me-3">
                                                    <img src="{{product.featured_image.url}}" alt="img">
                                                </a>
                                                <div>
                                                    <h6><a href="#" class="fw-bold">{% translate product.translation_key request.session.language %}</a></h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>{{product.total_stock}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Recent Products -->

        </div>


    </div>
</div>

{% endblock %}